.project-container {
  flex: 1;
  padding: 2rem;
  font-family: var(--roboto);
  color: var(--accent-text-2);
  overflow: hidden;
}
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--accent-border-separator-3);
  max-height: 20vh;
}
.project-container__list{
  overflow-y: auto;
  height: 80vh;
}