.container-items {
  align-items: center;
  background-color: var(--accent-background-2);
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 10px;
  padding: 10px;
  width: fit-content;
  font-family: var(--roboto);
}
